@import './blocks/header/header';

.page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;

  &_body {
    margin: 0;
  }
  &_menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;

    transition: all 0.3s;
    transform: translate(-100%);
  }
}

.header {
  background-image: url('../img/fon.png');
  height: 100vh;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px 0;

    &-title {
      font-family: Cinzel, serif;
      font-weight: 700;
      font-style: Bold;
      font-size: 40px;
      line-height: 80%;
      letter-spacing: -1.5px;
      text-align: center;
      vertical-align: middle;
      color: #fff;
    }
    &-left-bar {
      display: flex;
      gap: 55px;

      &-phone-image {
        width: 32px;
        height: 32px;
        background-image: url('../img/Icon-Phone-call.png');
      }
      &-burger-image {
        width: 32px;
        height: 32px;
        background-image: url('../img/Icon-Burger-menu.png');

        &:hover {
          background-image: url('../img/Icon-Burger-menu-hover.png');
          width: 32px;
          height: 32px;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      &-close-image {
        width: 32px;
        height: 32px;
        background-image: url('../img/Icon-Close.png');
      }
    }
  }
  &_title-text {
    margin-top: 83px;
    font-family: Cinzel, serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -1.5px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
  }
}

.menu {
  height: 100vh;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: tomato;

  font-family: Cinzel, serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;

  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px 0;

    &-title {
      font-family: Cinzel, serif;
      font-weight: 700;
      font-style: Bold;
      font-size: 40px;
      line-height: 80%;
      letter-spacing: -1.5px;
      text-align: center;
      vertical-align: middle;
      color: #fff;
    }
    &-left-bar {
      display: flex;
      gap: 55px;

      &-close-image {
        width: 32px;
        height: 32px;
        background-image: url('../img/Icon-Close.png');
      }
    }
  }
  &_bottom {
    display: flex;
    flex-direction: column;
    margin-top: 48px;

    &_title {
      margin-left: 121px;
      font-family: Cinzel, serif;
      font-weight: 700;
      font-style: Bold;
      font-size: 16px;
      line-height: 27px;
      vertical-align: middle;
      text-transform: uppercase;
    }
    &_link {
      margin-left: 121px;
      font-family: Cinzel, serif;
      font-weight: 700;
      font-style: Bold;
      font-size: 16px;
      line-height: 27px;
      vertical-align: middle;
      text-transform: uppercase;
      text-decoration: none;
      color: inherit;
    }
    &_call-to-order {
      border-bottom: 1px solid #fff;
      width: fit-content;
      text-decoration: none;
      color: #fff;
    }
  }
}

.menu:target {
  opacity: 1;
  pointer-events: all;
  transform: translate(0);
}

.nav {
  &_list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 55px 0 0 121px;

    &_item {
      &_link {
        position: relative;
        text-decoration: none;
        color: inherit;

        &::after {
          content: '';
          position: absolute;
          bottom: -8px;
          display: block;
          height: 1px;
          width: 100%;
          background-color: #fff;

          transform: scale(0);
          transition: transform 0.3s;
          transform-origin: left;
        }

        &:hover::after {
          transform: scale(1);
        }
      }
    }
  }
}

.first_section_title {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.first_section {
  margin-top: 138px;

  &_left {
    &-plan-visit {
      font-family: Cinzel, serif;
      font-weight: 700;
      font-style: Bold;
      font-size: 12px;
      line-height: 140%;
    }
    &-museum {
      margin: 0;
      font-family: Cinzel, serif;
      font-weight: 700;
      font-style: Bold;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -1.5px;
      text-transform: uppercase;
    }
  }
  &_right {
    &_block {
      display: flex;
      flex-direction: column;
      gap: 16px;
      &_title {
        font-family: Cinzel, serif;
        font-weight: 700;
        font-style: Bold;
        font-size: 24px;
        line-height: 30px;

        &-closed-on {
          font-family: Cinzel, serif;
          font-weight: 700;
          font-style: Bold;
          font-size: 16px;
          line-height: 27px;
        }
        &-Thanksgiving {
          font-family: Cinzel, serif;
          font-weight: 400;
          font-style: Regular;
          font-size: 16px;
          line-height: 27px;
        }
      }

      h1 {
        margin: 0;
      }

      &_time {
        display: flex;
        gap: 24px;
        &_test {
          font-family: Cinzel, serif;
          font-weight: 700;
          font-style: Bold;
          font-size: 16px;
          line-height: 27px;

          display: flex;
          gap: 8px;
          flex-direction: column;
        }
        &_days {
          font-family: Cinzel, serif;
          font-weight: 400;
          font-style: Regular;
          font-size: 16px;
          line-height: 27px;

          display: flex;
          gap: 8px;
          flex-direction: column;
        }
      }
    }
  }
}
