@import '../variables/variables';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin section-spacing {
  padding: 80px 0;

  @media (min-width: 768px) {
    padding: 120px 0;
  }
}

.header {
  position: relative;
  height: 100vh;
  background-image: url('../img/fon.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $color-white;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

    @media (min-width: 768px) {
      padding: 50px 0;
    }
  }

  &__controls {
    display: flex;
    gap: 32px;

    @media (min-width: 768px) {
      gap: 55px;
    }
  }

  &__title {
    margin: 161px 0 0;
    font-family: $font-primary;
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -1.5px;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 80px;
    }
  }
}

.header__phone {
  position: relative;

  .header__controls-hover-links-block {
    position: absolute;
    top: -50px;
    right: 35px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
    z-index: 10;
    width: max-content;
    align-items: end;

  }

  .header__controls-hover-link {
    color: #fff;
    text-decoration: none;
    padding: 5px 0 0 ;
    transition: color 0.3s ease;

    font-family: $font-primary;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 27px;
    vertical-align: middle;
    text-transform: uppercase;

    &:hover {
      color: #e6e6e6;
    }
  }

  &:hover .header__controls-hover-links-block {
    visibility: visible;
    opacity: 1;
  }
}
